/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 40px;
    top: -5px;
    font-size: x-large;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.searchbar-backdrop {
    background-color: #fff;
}

.days {
    background-color: #49C646;
    color: #fff;
    border-radius: 30px;
    opacity: 0.4;
}

.active-days {
    opacity: 1;
}

.linimasa {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.linimasa:before {
    content: "";
    display: inline-block;
    width: 2px;
    background: #49C646;
    position: absolute;
    left: 3px;
    top: 5px;
    height: calc(100% - 10px);
}

.linimasa .linimasa-item {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;
}

.linimasa .linimasa-item:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #49C646;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 10px;
}

.overflow {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:root {
    --f7-tabbar-link-active-border-color: transparent;
    --f7-tabbar-link-active-color: #0496FF;
}